# Download The Dataset Dicretly From Kaggle:

In [1]:
import opendatasets as od

In [2]:
md = "https://www.kaggle.com/code/karnikakapoor/spam-or-ham-sms-classifier"
#od.download(md)

# Import The Dataset:

In [3]:
import chardet

with open("spam.csv", "rb") as f:
    encoding = chardet.detect(f.read())

print(encoding)

{'encoding': 'Windows-1252', 'confidence': 0.7257971165545478, 'language': ''}

In [4]:
import pandas as pd
df = pd.read_csv("spam.csv",encoding='Windows-1252')
df

,v1,v2,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,ham,"Go until jurong point, crazy.. Available only ...",NaN,NaN,NaN
1,ham,Ok lar... Joking wif u oni...,NaN,NaN,NaN
2,spam,Free entry in 2 a wkly comp to win FA Cup fina...,NaN,NaN,NaN
3,ham,U dun say so early hor... U c already then say...,NaN,NaN,NaN
4,ham,"Nah I don't think he goes to usf, he lives aro...",NaN,NaN,NaN
...,...,...,...,...,...
5567,spam,This is the 2nd time we have tried 2 contact u...,NaN,NaN,NaN
5568,ham,Will Ì_ b going to esplanade fr home?,NaN,NaN,NaN
5569,ham,"Pity, * was in mood for that. So...any other s...",NaN,NaN,NaN
5570,ham,The guy did some bitching but I acted like i'd...,NaN,NaN,NaN
5571,ham,Rofl. Its true to its name,NaN,NaN,NaN

# Doing Some Preprocessing:

In [5]:
df = df.drop(df[["Unnamed: 2","Unnamed: 3","Unnamed: 4"]], axis=1)

In [6]:
df.rename(columns = {"v1":"Category", "v2":"Text"}, inplace = True)

In [7]:
df

     Category                                               Text
0         ham  Go until jurong point, crazy.. Available only ...
1         ham                      Ok lar... Joking wif u oni...
2        spam  Free entry in 2 a wkly comp to win FA Cup fina...
3         ham  U dun say so early hor... U c already then say...
4         ham  Nah I don't think he goes to usf, he lives aro...
...       ...                                                ...
5567     spam  This is the 2nd time we have tried 2 contact u...
5568      ham              Will Ì_ b going to esplanade fr home?
5569      ham  Pity, * was in mood for that. So...any other s...
5570      ham  The guy did some bitching but I acted like i'd...
5571      ham                         Rofl. Its true to its name

[5572 rows x 2 columns]

In [8]:
df.shape

(5572, 2)

In [9]:
df.isnull().sum()

Category    0
Text        0
dtype: int64

In [10]:
df.duplicated().sum()

403

In [11]:
df.drop_duplicates(inplace=True)

In [12]:
df.shape

(5169, 2)

In [13]:
df["Category"].value_counts()

ham     4516
spam     653
Name: Category, dtype: int64

# Start NLP part:

In [14]:
import nltk
from nltk.corpus import stopwords
import string
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\Lenovo\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

## Clean The Text:

In [15]:
def Text_processing(Text):
      #sms = re.sub('[^a-zA-Z]', ' ', Text) 
    
        text = [ char for char in Text if char not in string.punctuation]
        text = ''.join(text)
        
        clean_stopword = [word for word in text.split() if word.lower() not in stopwords.words("english")]
        return clean_stopword
    
df.Text.head().apply(Text_processing)

0    [Go, jurong, point, crazy, Available, bugis, n...
1                       [Ok, lar, Joking, wif, u, oni]
2    [Free, entry, 2, wkly, comp, win, FA, Cup, fin...
3        [U, dun, say, early, hor, U, c, already, say]
4    [Nah, dont, think, goes, usf, lives, around, t...
Name: Text, dtype: object

## Build Our Model:

In [16]:
from sklearn.feature_extraction.text import CountVectorizer
#from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.model_selection import train_test_split
cv = CountVectorizer(analyzer=Text_processing)
message = cv.fit_transform(df.Text)
#TF = TfidfVectorizer(analyzer=Text_processing)
#message_TF = TF.fit_transform(df.Text)
X_train , X_test , y_train , y_test  = train_test_split(message,df.Category,test_size=0.2,random_state=1)

In [17]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.linear_model import LogisticRegression

logistic_model = LogisticRegression(max_iter=10000)
random_model = RandomForestClassifier(n_estimators=1000)

In [ ]:
lr = logistic_model.fit(X_train,y_train)
rf = random_model.fit(X_train,y_train)

In [ ]:
from sklearn.metrics import classification_report, accuracy_score
print(classification_report(y_test, lr.predict(X_test)))
print("Accuracy = ",accuracy_score(y_test,lr.predict(X_test)))

In [ ]:
print(classification_report(y_test, rf.predict(X_test)))
print("Accuracy = ",accuracy_score(y_test, rf.predict(X_test)))

## Make Prediciton Using Logistic Regression

In [ ]:
new_message1 = input("Enter Your Message please: ")
new_message1 = [new_message1]
new_x = cv.transform(new_message1).toarray()
prediction_LR = lr.predict(new_x)
prediction_LR

In [ ]:
new_message2 = input("Enter Your Message please: ")
new_message2 = [new_message2]
new_x2 = cv.transform(new_message2).toarray()
prediction_RF = rf.predict(new_x2)
prediction_RF